<h1>Olá!</h1>
<p>Bem vindo ao Trabalho Final de Banco de Dados</p>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center">Modelo Conceitual</h2>
        <img class="img-fluid" src="../../assets/Conceitual_1.4.png"/>
    </div>
    <div class="col-sm-6">
      <h2 class="text-center">Modelo Lógico</h2>
        <img class="img-fluid" src="../../assets/Lógico_1.4.png"/>
    </div>
  </div>
  <h2>Integrantes:</h2>
  <h3>
    Ana Luiza Gonçalves Lourenço Barros <br>
    Douglas Barbosa da Silva<br>
    Lucas Gomes Oliveira<br>
    Stephanie Batista dos Santos<br>
  </h3>
</div>
